@model Model.PageInfo
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

@using (Html.BeginForm("Show", "User", FormMethod.Post, new { id = "ids" }))
{
    @Html.Hidden("index")
    @Html.TextBox("name")
    <input id="Submit1" type="submit" value="查询" class="btn btn-default" />

}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>用户角色</th>
            <th>头像</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.Students)
        {
            <tr>
                <td>@i.UserName</td>
                <td>@i.Sname</td>
                <td>@i.UserJs</td>
                <td><img src="@i.Img" alt="" width="100" height="100" /></td>
            </tr>
        }
    </tbody>
</table>

总共 @Model.totalcount 条记录，当前 @Model.currentpage / @Model.totalpage 页
<a href="javascript:;" onclick="Show(1)">首页</a>
<a href="javascript:;" onclick="Show(@(Model.currentpage-1));">上一页 </a>
<a href="javascript:;" onclick="Show(@(Model.currentpage+1));">下一页</a>
<a href="javascript:;" onclick="Show(@(Model.totalpage));">尾页</a>

@section scripts{
    <script>
        function Show(page) {
            $("#index").val(page);
            $("#ids").submit();
        }
    </script>
}

